.dataDiv {
    display: flex;
}
.dataDiv p {
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #9DA8B9;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #0d131e;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 5px;
    padding-right: 142px;
    background-color: #0d131e;
    height: 31px;
    color: #9DA8B9;
    margin-bottom: 25px;
    -webkit-app-region: drag;
}
header h4 {
    margin-right: auto;
    display: flex;
    width: auto;
}

.back-button {
    cursor: pointer;
    -webkit-app-region: no-drag;
    padding: 6px 10px;
    height: 100%;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: large;
}

.back-button:hover {
    background-color: #0b6ab9;
    transform: scale(1);
}

#stopRender {
    background-color: #e1334e;
}
#stopRender:hover {
    background-color: red;
}

#content {
    padding-left: 25px;
    padding-right: 25px;
}

#settings-button {
    cursor: pointer;
    -webkit-app-region: no-drag;
    background-color: #2196F3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    border: none;
    outline: none;
}
#settings-button svg {
    height: 24px;
    fill: white;
    margin-left: 3px;
    margin-top: 3px;
}
#settings-button:hover {
    background-color: #0b6ab9;
    transform: scale(1);
}

#blender-info {
    margin-right: auto;
    display: flex;
    align-items: center;
}
#blender-info p {
    padding-left: 5px;
}
#blender-icon {
    width: 20px;
    height: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#blender-icon svg {
    width: 20px;
    height: 20px;
    fill: white;
}
#blender-loading-icon {
    animation: rotate-icon 1.2s linear infinite;
}
#blender-loading-icon path {
    fill: #2196F3;
}
#blender-ready-icon path {
    fill: #00c24a;
}

#renderLoadingDiv {
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#renderLoadingDiv svg {
    height: 50%;
    fill: #2196F3;
    animation: rotate-icon 1.2s linear infinite;
}

@keyframes rotate-icon {
    to {
        transform: rotate(1turn);
    }
}

#start-render {
    cursor: pointer;
    background-color: #00c24a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-items: center;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
#start-render svg {
    width: 50px;
    height: 50px;
    fill: white;
    margin-left: 5px;
    margin-top: 5px;
}
#start-render:hover {
    transform: scale(1.05);
}

#render-ex {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}
#renderImgDiv {
    position: relative;
    margin-top: 15px;
    width: 100%;
    image-rendering: pixelated;
}

.noMarginBottom {
    margin-bottom: 0;
}

#outputDiv {
    display: flex;
    align-items: center;
}
#output {
    margin-left: 5px;
}
#output:hover {
    cursor: pointer;
    text-decoration: underline;
}

#openLogButton {
    margin-top: 5px;
}
#deleteLogsButton {
    background-color: #e1334e;
    margin-top: 5px;
    margin-left: 5px;
}

#openOutputMain {
    margin-top: 15px;
    display: block;
}

.listButton {
    background-color: #e1334e;
    padding: 5px;
    border-radius: 12px;
}

button {
    cursor: pointer;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
}
button:hover {
    transform: scale(1.05);
}

.inputSpan {
    position: relative;
    display: inline-block;
    align-items: center;
    padding-bottom: 15px;
}
.inputSpan input {
    width: 75px;
    padding: 8px 0;
    border: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    text-align: center;
    font-size: large;
    line-height: 0px;
}
.inputSpan label {
    padding: 10px 10px;
    background: #00c24a;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    font-weight: bolder;
    text-shadow: #0d131e 1px 1px 1px;
}

#settingRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#resetSettingsButton {
    height: 35px;
}

#logList-Name:hover {
    cursor: pointer;
    text-decoration: underline;
}