body {
    background-color: #172336;
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    overflow: hidden;
}

.dataDiv {
    display: flex;
}
.dataDiv p {
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #9DA8B9;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #0d131e;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0d131e;
    color: #9DA8B9;
    margin-bottom: 25px;
}
#winHeader {
    padding: 0px 8px;
    padding-right: 0px;
    height: 31px;
    -webkit-app-region: drag;
}
#linuxHeader {
    padding: 20px 25px;
    height: 20px;
}

header h4 {
    margin-right: auto;
    display: flex;
    width: auto;
}
header h1 {
    margin-right: auto;
    display: flex;
    width: auto;
}

.back-button-win {
    cursor: pointer;
    -webkit-app-region: no-drag;
    padding: 6px 10px;
    height: 100%;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: large;
}
.back-button-linux {
    cursor: pointer;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 20px;
    display: flex;
    font-size: large;
}

.back-button-win:hover {
    background-color: #0b6ab9;
    transform: scale(1);
}
.back-button-linux:hover {
    transform: scale(1.05);
    text-decoration: none;
}

#backButton-win {
    cursor: pointer;
    -webkit-app-region: no-drag;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}
#backButton-win svg {
    height: 18px;
    fill: #9DA8B9;
}
#backButton-win:hover {
    background-color: #2d323c;
    transform: scale(1);
}

#stopRenderButton {
    background-color: #e1334e;
    margin-right: 10px;
}

#content {
    padding-left: 25px;
    padding-right: 25px;
}

#settings-button-win {
    cursor: pointer;
    -webkit-app-region: no-drag;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}
#settings-button-win svg {
    height: 18px;
    fill: #9DA8B9;
}
#settings-button-win:hover {
    background-color: #2d323c;
    transform: scale(1);
}

#settings-button-linux {
    cursor: pointer;
    background-color: #2196F3;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    align-items: center;
    border: none;
    outline: none;
}
#settings-button-linux svg {
    height: 35px;
    fill: white;
    margin-left: 5px;
    margin-top: 5px;
}
#settings-button-linux:hover {
    transform: scale(1.05);
}

#blender-info-win {
    margin-right: auto;
    display: flex;
    align-items: center;
}
#blender-info-win p {
    padding-left: 5px;
}

#blender-info-linux {
    margin-right: auto;
}
#blender-info-linux p {
    margin-top: 5px;
    margin-bottom: 0;
}

#blender-icon-win {
    width: 20px;
    height: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#blender-icon-linux {
    width: 25px;
    height: 25px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#blender-icon-win svg {
    width: 20px;
    height: 20px;
    fill: white;
}
#blender-icon-linux svg {
    width: 25px;
    height: 25px;
    fill: white;
}

#blender-loading-icon {
    animation: rotate-icon 1.2s linear infinite;
}
#blender-loading-icon path {
    fill: #2196F3;
}
#blender-ready-icon path {
    fill: #00c24a;
}

#renderLoadingDiv {
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#renderLoadingDiv svg {
    height: 50%;
    fill: #2196F3;
    animation: rotate-icon 1.2s linear infinite;
}

@keyframes rotate-icon {
    to {
        transform: rotate(1turn);
    }
}

#start-render {
    cursor: pointer;
    background-color: #00c24a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-items: center;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
#start-render svg {
    width: 50px;
    height: 50px;
    fill: white;
    margin-left: 5px;
    margin-top: 5px;
}
#start-render:hover {
    transform: scale(1.05);
}

#render-ex {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: 10px;
}
#renderImgDiv {
    position: relative;
    margin-top: 15px;
    image-rendering: pixelated;
    width: fit-content;
    height: fit-content;
}

.noMarginBottom {
    margin-bottom: 0;
}

#outputDiv {
    display: flex;
    align-items: center;
}
#output {
    margin-left: 5px;
}
#output:hover {
    cursor: pointer;
    text-decoration: underline;
}

#openLogButton {
    margin-top: 5px;
}
#deleteLogsButton {
    background-color: #e1334e;
    margin-top: 5px;
    margin-left: 5px;
}

#openOutputMain {
    margin-top: 15px;
    display: block;
}

.listButton {
    background-color: #e1334e;
    padding: 5px;
    border-radius: 12px;
}

button {
    cursor: pointer;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
}
button:hover {
    transform: scale(1.05);
}

.inputSelectSpan {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    margin-bottom: 15px;
}
.inputSelectSpan input {
    width: 75px;
    height: 100%;
    border: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    text-align: center;
    font-size: large;
    padding: 0;
}
.inputSelectSpan label {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    background: #00c24a;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    font-weight: bolder;
    overflow: hidden;
}
.inputSelectSpan select {
    height: 100%;
    border: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    cursor: pointer;
    text-align: center;
    font-size: large;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#settingRow {
    display: flex;
    justify-content: space-around;
}

#resetSettingsButton {
    height: 35px;
    background-color: #e1334e;
}

#logList-Name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.winMenuButtons {
    fill: #9DA8B9;
    height: 100%;
    width: 47px;
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-app-region: no-drag;
}
.winMenuButtons:hover {
    background-color: #2d323c;
}
.winMenuButtons svg {
    height: 17px;
    width: 17px;
}

#winClose:hover {
    background-color: red;
}

#winMinimize {
    margin-left: 5px;
}

.progress {
    height: 25px;
    width: 100%;
    background-color: #0d131e;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.progress-done {
    height: 100%;
    background: repeating-linear-gradient(
        -45deg,
        #2196F3,
        #2196F3 10px,
        #0b6ab9 10px,
        #0b6ab9 20px
    );
    border-radius: 15px;
    transition: width 1s;
}
.progress label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.selectSpan {
    display: flex;
    align-items: center;
}

#videoFormatWarning:hover {
    transform: scale(1.05);
}

#outerTerminal {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    height: 300px;
    background-color: #0d131e;
    color: white;
    font-family: monospace;
    font-size: 10px;
    border-radius: 10px;
    padding: 10px;
}
#outerTerminal p {
    margin: 2px;
}

#innerTerminal {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#terminalTable tr {
    display: flex;
}
.terminalTableNumber {
    color: #9DA8B9;
    background-color: #172336;
    margin-right: 5px;
}